<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Links</title>
    </head>
    <body>
        <%for(let link of links) {%>
        <div id="<%=link._id%>">
            <h2><%=link.title%></h2>
            <p><%=link.description%></p>
            <p><%=link.url%></p>
        </div>
        <%}%>
    </body>
</html>
